@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item-form {
  width: 100%;

  @include mobile {
    max-width: $breakpoint-mobile;
  }
  &__label {
    @include label;
  }
  &__input {
    @include input;
  }
  &__add-btn {
    @include button-lg($primaryColor);
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
}
