@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item-form {
  @include flex-center;
  min-height: 8rem;

  &__label {
    @include flex-center;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
      0 0.25rem 0.25rem rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
  }

  &__input {
    border-radius: 0.2rem;
    border: none;
    padding: 0 1rem;
    width: 15rem;
    height: 3rem;
    font-size: 1.2rem;
    font-weight: 500;
    &:focus {
      outline: none;
    }
  }
}
