@use "./partials/font" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

/* --- Resets --- */
*,
::before,
::after {
  box-sizing: border-box;
}

/* --- Core Elements --- */

html {
  font-size: 16px;
  font-family: $fontStack;
  height: 100%;
}

body {
  margin: 0;
  background-color: $backgroundColor;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* --- App --- */

.app {
  &__main {
    @include main;
  }
}
