@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.login-form {
  @include form;

  &__label {
    @include label;
  }
  &__input {
    @include input;
  }
  &__rule {
    @include rule;
  }
  &__rule-text {
    position: absolute;
    padding: 0px 1rem;
    color: $mutedColor;
    background-color: $backgroundColor;
    font-weight: 700;
  }
  &__signup {
    margin-left: 0.25rem;
    cursor: pointer;
    text-decoration: underline;
  }
  &__center {
    @include flex-center;
  }
  &__h1 {
    @include h1;
  }
  &__container {
    @include container;
  }
}
