@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.login-form {
  @include form;

  &__label {
    @include label;
  }
  &__input {
    @include input;
  }
  &__rule {
    @include rule;
  }
  &__rule-text {
    @include rule-text;
  }
  &__signup {
    margin-left: 0.25rem;
    cursor: pointer;
    text-decoration: underline;
  }
  &__center {
    @include flex-center;
  }
  &__h1 {
    @include h1;
  }
  &__container {
    @include container;
  }
  &__message {
    margin-top: 2rem;
  }

  &__email-btn {
    @include button($primaryColor);
    border-radius: $borderRadius;
  }
  &__google-btn {
    @include button($infoColor);
    border-radius: $borderRadius;
  }
  &__icon {
    @include icon;
  }
}
