@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  background-color: $textColor;
  color: $secondaryColor;
  border-radius: $borderRadius;
  margin-bottom: 0.4rem;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: $boxShadow;
  &__delete-btn {
    @include button-lg($errorColor);
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    &:hover {
      background-color: lighten($errorColor, 10%);
    }
    &--disabled {
      background-color: $mutedColor;
      &:hover {
        background-color: $mutedColor;
        cursor: default;
      }
      &:active {
        background-color: $mutedColor;
        cursor: default;
      }
    }
  }
}
