@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
  @include flex-center;
  box-shadow: $boxShadow;
  line-height: 3rem;
  background-color: $secondaryColor;
  position: relative;
  z-index: 1;
  &__logo {
    color: $textColor;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    @include flex-center;
  }
  &__container {
    @include container;
    position: relative;
  }
  &__icon {
    margin-right: 0.5rem;
  }
}
