@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.dashboard {
  display: flex;
  flex-direction: column;
  &__container {
    @include container;
  }
  &__user {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__greeting {
    margin-bottom: 0.5rem;
  }
  &__button {
    @include button($secondaryColor);
    border-radius: $borderRadius;
  }
}
