@use '../../styles/partials/mixins' as *;

.dashboard {
  display: flex;
  flex-direction: column;
  &__container {
    @include container;
  }
  &__user {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  &__greeting {
    margin-bottom: 0.5rem;
  }
}
