@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.signup-form {
  @include form;
  margin-bottom: 2rem;
  &__back {
    margin-left: 0.25rem;
    cursor: pointer;
    text-decoration: underline;
  }
  &__center {
    @include flex-center;
  }
  &__rule {
    @include rule;
  }
  &__rule-text {
    @include rule-text;
  }
  &__h1 {
    @include h1;
  }
  &__label {
    @include label;
    margin-bottom: 1rem;
  }
  &__input {
    @include input;
  }
  &__container {
    @include container;
    justify-content: center;
  }
  &__signup-btn {
    @include button($primaryColor);
    border-radius: $borderRadius;
    padding: 1rem 2rem;
  }
  &__back-btn {
    @include button($secondaryColor);
    border-radius: $borderRadius;
    padding: 1rem 2rem;
  }
  &__icon {
    @include icon;
  }
}
