@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.item-list {
  @include flex-center;
  margin-bottom: 2rem;
  &__items {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
