@use '../../styles/partials/variables' as *;

.message {
  background-color: $textColor;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.2rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: $boxShadow;
  &--info {
    color: $infoColor;
  }
  &--error {
    color: $errorColor;
  }
}
